@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>This is hobby bingo.</h2>
    <p>You will be albe to submit groups on tasks which will be placed on a bingo board for you to fill out as you complete them. After doing so you will be able to treat yourself to a reward. Here's to gamifying productuvity!'</p>
</div>
